/* Common shared style */
body{
    font-family: "Open Sans", sans-serif;
}

.primary-color{
    color: #FD6E0A;
}
.primary-btn{
    background-color: #FD6E0A;
    border-radius: 5px;
    border: #FD6E0A;
    width: 150px;
    height: 64px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
}
.section-title{
    font-size: 35px;
    font-weight: 700;
}
.section-description{
    font-size: 18px;
}
.pdescription, .section-description{
    color: #757575;
}
/* nav-bar */
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
}
nav > a{
    text-decoration: none;
    color: black;
}
nav ul a{
    color: #474747;
    text-decoration: none;
    font-size: 20px;
}

/* header related styles */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    margin-bottom: 0;
}
.banner{
    padding: 30px 30px 0px 150px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner > div{
    max-width: 585px;
    max-height: 262px;
}
.banner-content h3{
    color: #474747;
    size: 45px;
    margin-bottom: 0;
}
.banner-content h1{
    color: #181818;
    size: 85px;
    margin-top: 5px;
    font-weight: bold;
    margin-bottom: 0;
}
.banner-content p{
    color: #757575;
    size: 18px;
    margin-top: 20px;
    margin-bottom: 0;
}
.banner-content button{
    margin-top: 30px;
    margin-right: 30px;
}
.first-btn{
    width: 200px;
    height: 64px;
}
.second-btn{
    width: 160px;
    height: 64px;
}
.banner img{
    width: 584px;
    height: 676px;
}

/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section */
.about{
    background-color: #FFF8F3;
    padding: 131px;
    margin: 130px 0;
    text-align: center;
}
.about-title{
    color: #757575;
    font-size: 20px;
}
.about-info-description{
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

/* what section  */
.what{
    text-align: center;
}
.ptitle{
    color: #181818;
    font-weight: bold;
    font-size: 20px;
    margin: 30px 0 20px 0;
}
.pdescription{
    font: 16px;
}
.programming_language{
    display: flex;
    gap: 24px;
    text-align: left;
    justify-content: space-between;
}
.programming_language div{
    margin-top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.06);
    border-radius: 5px;
    padding: 30px;
}
.what > p{
    margin-bottom: 50px;
}

/* Summary section */
.summary-title{
    text-align: center;
}

.education-experience{
    display: flex;
    gap: 24px;
}

.resume-item{
    margin: 30px 0;
}

.resume-header{
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}

.resume-title{
    color: #474747;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.resume-subtitle{
    color: #474747;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px
}

.resume-description{
    color: #474747;
    font-size: 16px;
}

/*
way-1 to center the button without class
.summary div button {
    margin: 0 auto; 
    display: block; 
}
*/

/* way-2 to center the button using class */
.resume-btn{
    text-align: center;
}

.footer-container{
    display: flex;
    gap: 117px;
    background-color: #FFF8F3;
    padding: 130px 200px;
    margin-top: 113px;
}

.footer-form input, textarea{
    margin-bottom: 24px;
    border: none;
}

.footer-form textarea{
    padding: 18px 30px;
}
.footer-form input{
    padding: 18px 30px;
}

