


.container{
    background-color: purple;
    border: 5px dashed black;
    display: flex;
    align-items: stretch;
    height: 300px;
}

.box{
    width: 100px;
    border: 2px dashed red;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box_2{
    flex-grow: 1;
}

.products{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* align-items: center; */
}

.products li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.products .img button{
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: rgba(253,216,53,1);
    line-height: 22px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.products .img button:hover{
    border: 1px solid black;
    background-color: white;
}

.form_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.loginform input{
    margin-top: 1em;
    font-size: 1.5em;
    padding: 10px 5px ;
    
}
.loginform input[type="submit"]{
    border: none;
    background-color: goldenrod;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}